<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Chat Room</title>
    <h2>Hi {{ data }}</h2>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
  </head>
  <body>
    <a href="/login" class="btn btn-danger" style="float: right;" role="button">Logout</a>
    <div id="app"></div>
    <script src="{{ url_for('static', filename='main.min.js') }}"></script>
  </body>
</html>
