<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Chat Room</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
  </head>
  <body>
    <nav class="nav nav-masthead justify-content-center float-md-end">
      <a class="nav-link" href="login">Login</a>
      <a class="nav-link" href="register">Register</a>
    </nav>
    <h1>Welcome to the Chat Room</h1>
    <script src="{{ url_for('static', filename='main.min.js') }}"></script>
  </body>
</html>
