<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>Chat Room</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    {% endblock %}
  </head>
  <body>

    <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand me-2" href="/">
      <img
        src="/static/chatroom.jpg"
        height="35"
        alt="MDB Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a>

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/">Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <button type="button" class="btn btn-link px-3 me-2">
          <a class="nav-link" href="login">Login</a>
        </button>
        <button type="button" class="btn btn-primary me-3">
          <a class="nav-link" href="register" style="color:white;">Sign Up</a>
        </button>
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<div class="jambotorn img-fluid">
  <div class="container">
    <h1 class="">Welcome to the Chat Room {{session.name}}</h1>
    <img
          src="/static/undraw_group_hangout_5gmq.png"
          height="650"
          width="1200"
          alt="MDB Logo"
          loading="lazy"
        />
  </div>
  
     
</div>
    
    <script src="{{ url_for('static', filename='main.min.js') }}"></script>
  </body>
</html>
